<div class="mat-elevation-z8" style="width: 100%">
  <table mat-table [dataSource]="employes" style="width: 100%">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom</th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>
    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prenom</th>
      <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>
    <ng-container matColumnDef="poste">
      <th mat-header-cell *matHeaderCellDef> Poste</th>
      <td mat-cell *matCellDef="let element"> {{element.poste}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
